.main{
    margin: 30px;
    background-color: white;
}

body{
    background-color: #efefef;
}

.btn-submit{
    float: right;
    margin-bottom: 30px;
}

.user-avatar{
    height: 40px;
    weight: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}

.user-name{
    padding-top: 10px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    margin: 10px 0px;
    float: right;
}